.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
}
.footer-text {
  max-width: 264px;
}
.footer-logo,
.footer-text {
  color: #f4f4fd;
}
.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-info {
  margin-right: 120px;
}

.footer-social-title {
  margin-bottom: 16px;
  font-weight: 500;
  color: #ffffff;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-list-item-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: #4d5ae5;
  color: #f4f4fd;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-item-link:hover,
.footer-social-list-item-link:focus {
  background-color: #31d0aa;
}
.footer-subscribe {
  margin-left: auto;
}

.footer-subscribe-title {
  margin-bottom: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-subscribe-form {
  display: flex;
  gap: 24px;
}

.footer-subscribe-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;

  border: 1px solid #ffffff;
  border-radius: 4px;
  outline: transparent;

  background-color: transparent;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #ffffff;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.footer-subscribe-input:focus {
  border-color: #31d0aa;
}

.footer-subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 165px;
  height: 40px;
  padding: 8px 24px;

  border: none;
  border-radius: 4px;

  background-color: #4d5ae5;
  color: #ffffff;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: #31d0aa;
}

.footer-subscribe-icon {
  margin-left: 16px;
  fill: currentColor;
}
